<%= link_to("<< Projects", projects_path) %>

<h2>Edit Project</h2>

<%= form_for @project do |f| %>
  <h3>Basic</h3>
  <table>
    <%= render('form', :f => f) %>
  </table>

  <h3>Assignements</h3>
  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th>User</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Workload</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td col=6><%= link_to_add_fields("Add Assignment", f, :assignments) %></td>
      </tr>
      <%= f.fields_for :assignments do |builder| %>
        <%= render('assignment', :f => builder) %>
      <% end %>
    </tbody>
  </table>

  <%= f.submit() %>
<% end %>
